.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

table {
    padding: 20px;
    border-collapse: collapse;  
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: none;
}   

td{
    padding: 0px;
}

td.dragging{
    opacity: 0.4;
    transform: scale(1.2);
}
td.afterDrag{
    opacity: 1;
}

.draggable{
    transition: transform 0.2s ease-in-out;
}

.one{
    background-color: #F99B7D;
}
.two{
    background-color: #E76161;
}
.three{
    background-color: #B04759;
}
.four{
    background-color: #8BACAA;
}
.five{
    background-color: #537188;
}
.six{
    background-color: #CBB279;
}
.seven{
    background-color: #E1D4BB;
}
.eight{
    background-color: #EEEEEE;
}
.nine{
    background-color: #8f3c20;
}

button {
    padding: 20px 30px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    margin-top: 450px;
}

button:hover {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

button:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
}

td div.box {
    padding: 15px;
    font-size: 56px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    vertical-align: middle;
}

.github{
    text-align: center;
    font-size: 20px;
}